* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: #2C2B3D;
    color: white;
    font-family: "Open Sans", sans-serif;
    width: 1092px;
    margin: auto;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 0px auto 101px;
    padding: 50px;
}

nav ul {
    list-style: none;
    font-family: "JetBrains Mono", monospace;
    display: flex;
    gap: 64px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

#container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 157px;
}

#hero {
    width: 401px;
    height: 283px;
}

#container div {
    width: 604px;
}

#container div h1 {
    font-family: "JetBrains Mono", monospace;
    margin-bottom: 59px;
}

#container div h1 span {
    color: #00BFA6;
}

#container div p {
    font-size: 16px;
    color: #C2C2C2;
}

#container div p span {
    font-weight: bold;
    color: #00BFA6;
}



#lock {
    position: fixed;
    bottom: 0px;
    left: 0px;
    padding: 20px;

}

footer {
    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
    border-top: 1px solid #00BFA6;
    padding: 27px;
    margin: auto 257px;
}